.MainForms {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  gap: 60px;     
  flex-wrap: wrap;          
}

.link-representante-card,
.link-user-card {
  text-decoration: none;
  color: white;

  flex: 0 0 350px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-representante-card:hover,
.link-user-card:hover {
    color: white;
}
