.HomeCards {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.home-container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.non-certificado-home{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.non-home-img{
    align-self: center;
    height: auto;
}