.mainCard {
  border: 3px solid rgb(43, 43, 57);
  width: 100%;
  height: 100%; 
  padding: 20px;
  gap: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

.imgCard {
  align-self: center;
  height: auto;
}
