.HomeCards {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.home-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.non-certificado-home{
    width: 55%;
    display: flex;
    flex-direction: column;
}

.cursos-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.li-cards {
    display: flex;
    flex-direction: row;

    gap: 30px;
    list-style: none;
    justify-content: center;
    align-items: center;

    margin-top: 15px;
    width: 45%;

}
.certificado-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text-color);
    border: 2px solid #646cff;
    border-radius: 10px;
    padding: 20px;
    height: 100px;
}


.curso-item{
    display: flex;
    flex-direction: column;
    background-color: var(--header-bg);
    justify-content: space-around;
    border-radius: 8px;
    transition: border-color 0.25s;
    border: 1px solid transparent;

    width: 500px;
    height: 500px;
}
.curso-item:hover{
    border-color: #646cff
}